<html>
<head>
  <title>How many guilds?</title>
  <link href="https://mod.teamhydra.dev/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://mod.teamhydra.dev/static/css/style.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="login-panel panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{message}}</h3>
            </div>
            <div class="panel-body">
              <a href="/api/auth/discord">
                <img src="https://discordapp.com/assets/192cb9459cbc0f9e73e2591b700f1857.svg" height="256" width="256" style="margin: auto; display: block;">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>